In [80]:
import pandas as pd

In [81]:
data=pd.read_csv('online_retail_real_world.csv')

In [82]:
data.head(7)

,OrderID,CustomerID,ProductName,Brand,Raw_Weight,Country,OrderDate,UnitPrice
0,REC-861088,6120,Perly,Perly,100 g,"Morocco,United States",2024-02-22,13.18
1,REC-900952,12550,Prince Goût Chocolat,LU,300 g,"Algeria,Belgium,France,French Polynesia,German...",2024-11-13,1.50
2,REC-595965,6705,Excellence Noir Prodigieux 90% Cacao,"Lindt EXCELLENCE,Lindt",100g,"Argelia,Austria,Bélgica,Bulgaria,Canadá,Repúbl...",2025-02-02,12.99
3,REC-942653,8645,Tonik,عربي,22 g,Maroc,2024-12-11,14.82
4,REC-885998,14430,Sésame,Gerblé,230g,"Belgium, Bulgaria, France, en:switzerland",2025-08-21,18.40
5,REC-674324,6760,Шоколад 85% какаова маса,J. D. Gross,125g,"Austria,Belgium,Bulgaria,Estonia,Finland,Franc...",2024-09-08,19.16
6,REC-867660,8420,CRISTALINE Eau De Source 0.5L,Cristaline,500 ml,"Belgium,Côte d'Ivoire,France,Germany,Luxembour...",2024-10-10,3.64

In [83]:
data.describe()

         CustomerID    UnitPrice
count   3000.000000  2615.000000
mean    9989.842333    12.992417
std     2871.959873     6.963856
min     5011.000000     1.000000
25%     7454.750000     6.985000
50%    10066.000000    13.160000
75%    12527.250000    18.960000
max    14998.000000    24.990000

In [84]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   OrderID      3000 non-null   str
 1   CustomerID   3000 non-null   int64
 2   ProductName  2904 non-null   str
 3   Brand        2665 non-null   str
 4   Raw_Weight   2488 non-null   str
 5   Country      3000 non-null   str
 6   OrderDate    3000 non-null   str
 7   UnitPrice    2615 non-null   float64
dtypes: float64(1), int64(1), str(6)
memory usage: 187.6 KB

In [85]:
data.isna().sum()

OrderID          0
CustomerID       0
ProductName     96
Brand          335
Raw_Weight     512
Country          0
OrderDate        0
UnitPrice      385
dtype: int64

In [86]:
data.rename(columns={
    'OrderID': 'order_id',
    'CustomerID': 'customer_id',
    'ProductName': 'product_name',
    'Brand': 'brand',
    'Raw_Weight': 'row_weight',
    'Country': 'country',
    'OrderDate': 'order_date',
    'UnitPrice': 'unit_price'
},inplace=True)
data.head()

,order_id,customer_id,product_name,brand,row_weight,country,order_date,unit_price
0,REC-861088,6120,Perly,Perly,100 g,"Morocco,United States",2024-02-22,13.18
1,REC-900952,12550,Prince Goût Chocolat,LU,300 g,"Algeria,Belgium,France,French Polynesia,German...",2024-11-13,1.50
2,REC-595965,6705,Excellence Noir Prodigieux 90% Cacao,"Lindt EXCELLENCE,Lindt",100g,"Argelia,Austria,Bélgica,Bulgaria,Canadá,Repúbl...",2025-02-02,12.99
3,REC-942653,8645,Tonik,عربي,22 g,Maroc,2024-12-11,14.82
4,REC-885998,14430,Sésame,Gerblé,230g,"Belgium, Bulgaria, France, en:switzerland",2025-08-21,18.40

In [87]:
data['order_date'] = pd.to_datetime(data['order_date'])

In [88]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      3000 non-null   str
 1   customer_id   3000 non-null   int64
 2   product_name  2904 non-null   str
 3   brand         2665 non-null   str
 4   row_weight    2488 non-null   str
 5   country       3000 non-null   str
 6   order_date    3000 non-null   datetime64[us]
 7   unit_price    2615 non-null   float64
dtypes: datetime64[us](1), float64(1), int64(1), str(5)
memory usage: 187.6 KB

In [89]:
data['product_name'] = data['product_name'].fillna(value='Unknown', inplace=True)

C:\Users\odai\AppData\Local\Temp\ipykernel_27224\3853261292.py:1: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  data['product_name'] = data['product_name'].fillna(value='Unknown', inplace=True)

In [90]:
data.isna().sum()

order_id          0
customer_id       0
product_name      0
brand           335
row_weight      512
country           0
order_date        0
unit_price      385
dtype: int64

In [91]:
data['brand'] = data['brand'].fillna(value='Unknown', inplace=True)

C:\Users\odai\AppData\Local\Temp\ipykernel_27224\404256650.py:1: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  data['brand'] = data['brand'].fillna(value='Unknown', inplace=True)

In [92]:
data.isna().sum()

order_id          0
customer_id       0
product_name      0
brand             0
row_weight      512
country           0
order_date        0
unit_price      385
dtype: int64